In [2]:
# Importing libraries

import pandas as pd
import numpy as np
import matplotlib as mb
import os

In [3]:
PATH = 'Data'

In [4]:
PATH

'Data'

In [5]:
# Import netflix_title file as Netflix_Data

Netflix_Data= pd.read_csv(os.path.join(PATH, 'Origional Data', 'netflix_titles.csv'))

In [6]:
Netflix_Data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [7]:
Netflix_Data.shape # to check the rows and columns

(8807, 12)

In [8]:
# to check the datatype of each column
Netflix_Data.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [9]:
# to check the column name
Netflix_Data.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [10]:
Netflix_Data.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [11]:
# to create a var_list
vars_list = ['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration', 'listed_in']

In [12]:
# to remove the unneccessary column
Netflix_Data = pd.read_csv(os.path.join(PATH, 'Origional Data', 'netflix_titles.csv'), usecols = vars_list)

In [13]:
Netflix_Data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries"
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV"
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ..."

# Data wrangling

In [14]:
# for checking missing value
Netflix_Data.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
dtype: int64

In [15]:
# to check the shape 
Netflix_Data.shape

(8807, 11)

In [16]:
# remove the missing value in 'director' column

Netflix_Data_clean = Netflix_Data[Netflix_Data['director'].isnull() == False]

In [17]:
# remove the missing value in 'cast' column

Netflix= Netflix_Data_clean[Netflix_Data_clean['cast'].isnull() == False]

In [18]:
# remove the missing value in 'country' column

Netflix_Data_new = Netflix[Netflix['country'].isnull() == False]

In [19]:
# check the shape again after removing missing values

Netflix_Data_new.shape

(5336, 11)

In [20]:
Netflix_Data_new.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          1
duration        3
listed_in       0
dtype: int64

In [21]:

Netflix_Data_new['rating'].describe()

count      5335
unique       17
top       TV-MA
freq       1822
Name: rating, dtype: object

In [22]:
Netflix_Data_new['rating'].fillna('TV-MA', inplace=True)

/var/folders/c6/l683wjhx5lsb9xd7t_fkht780000gn/T/ipykernel_14107/431906044.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Netflix_Data_new['rating'].fillna('TV-MA', inplace=True)

In [23]:
Netflix_Data_new['duration'].describe()

count       5333
unique       198
top       94 min
freq         135
Name: duration, dtype: object

In [24]:
Netflix_Data_new['duration'].fillna('94 min', inplace=True)

/var/folders/c6/l683wjhx5lsb9xd7t_fkht780000gn/T/ipykernel_14107/866109701.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Netflix_Data_new['duration'].fillna('94 min', inplace=True)

In [25]:
Netflix_Data_new.isnull().sum()

show_id         0
type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
dtype: int64

In [26]:
Netflix_Data_new.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies"
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV"
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas"
12,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic","September 23, 2021",2021,TV-MA,127 min,"Dramas, International Movies"
24,s25,Movie,Jeans,S. Shankar,"Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...",India,"September 21, 2021",1998,TV-14,166 min,"Comedies, International Movies, Romantic Movies"

In [27]:
# checking for mixed_type data

for col in Netflix_Data_new.columns.tolist():
  weird = (Netflix_Data_new[[col]].applymap(type) != Netflix_Data_new[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (Netflix_Data_new[weird]) > 0:
    print (col)

There is no any mixed_type data found.

In [28]:
# checking for duplicates value

df_dups = Netflix_Data_new[Netflix_Data_new.duplicated()]

In [29]:
df_dups

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in]
Index: []

There is no any duplicate value found.

In [30]:
# export the Netflix_Data_new

Netflix_Data_new.to_csv(os.path.join(PATH,'Prepared Data', 'Netflix_Data_clean.csv'), index=False)